[submodule "deps/zkinterface-sieve"]
	path = deps/zkinterface-sieve
	url = ../zkinterface-sieve.git
[submodule "deps/zkinterface-sieve-v3"]
	path = deps/zkinterface-sieve-v3
	url = ../zkinterface-sieve.git
